{% extends 'pages/base.html.twig' %}
{% block body %}
    {% include 'components/menu.html.twig' %}

    <h1 class="about-title">whnex</h1>
    <h2>About</h2>
    <p>Previously written in Elixir and Phoenix, now a PHP, Symfony and API Platform web application made by <a href="https://mathisfaiv.re">Mathis F.</a></p>
    <p>Using <a href="https://github.com/HackerNews/API">official Hacker News API</a> for lists and items, and <a href="https://hn.algolia.com/api">Algolia</a> for searches.</p>
    <p>Lists and items are refreshed every hour.</p>
    <br>
    <p>You can contact me at <a href="mailto:m@this.fr">m@this.fr</a> if you want to say anything to me, suggest new features, contribute, etc.</p>
    <h2>Source code</h2>
    <a href="https://gitlab.com/mathisf/whnphp">whnphp - Gitlab</a>
    <h2>JSON API</h2>
    <p>WIP 😎</p>
{# <p>List of items are available here : "whnex.com/api/{top|best|new|ask|show}"</p>
<p>Items are available here : "whnex.com/api/items/{id}"</p> #}
{% endblock %}
