<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}whn{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='64' x='10' font-size='96'>w</text></svg>">
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
