{% extends 'pages/base.html.twig' %}
{% block body %}
    {% include 'components/menu.html.twig' %}

    <h1><a href="{{ item.url }}">{{ item.title }}</a></h1>by {{ item.by }} {{ item.time | formatTimeAgo }}

    {% include 'components/item_comment_hierarchy.html.twig' with {item: item, level: 0, op: item.by}%}
{% endblock %}
