{% extends 'pages/base.html.twig' %}
{% block body %}
    {% include 'components/menu.html.twig' with {'list_type': list_type} %}
    {% for dateKey, items in time_grouped_and_sorted_items %}
        <h2 class="sticky">{{ dateKey }}</h2>
        {% for item in items %}
            {% include 'components/list_item.html.twig' with {'item': item, 'index': loop.index} %}
        {% endfor %}
    {% endfor %}
{% endblock %}
