{% extends 'pages/base.html.twig' %}
{% block body %}
    {% include 'components/menu.html.twig' with {'list_type': list_type} %}
    {% for item in items %}
        {% include 'components/list_item.html.twig' with {'item': item, 'index': loop.index} %}
    {% endfor %}
{% endblock %}
