{% extends 'pages/base.html.twig' %}
{% block body %}
    {% include 'components/menu.html.twig' %}

    <h1>{{ user.id }}</h1>
    <h4>Account created {{ user.created|date('F j, Y') }}, has {{ user.karma }} karma point(s).</h4>
    <div>{{ user.about|raw }}</div>
    <div>
        <h3>Unfetched raw submissions ids</h3>
        {% for item_id in user.submitted %}
            <a href="{{ '/items/' ~ item_id }}"><small>{{ item_id }}</small></a>
        {% endfor %}
    </div>
{% endblock %}
