{% if item.text is not null and not item.deleted %}
  {% include 'components/item_comment.html.twig' with {'level': level, 'item': item, 'op': op} %}
{% endif %}
{% for kid in item.kids %}
  {% if not kid.deleted and kid.text is not null %}
    {% include 'components/item_comment_hierarchy.html.twig' with {'op': op, 'level': level + 1, 'item': kid } %}
  {% endif %}
{% endfor %}
