{% set is_grand_kid = level > 1 %}
{% set class = "comment level-" ~ (level - 1) %}
{% set style = level > 1 ? ("margin-left: " ~ (level * 10) ~ "px; display: none;") : "" %}
{% set bar_style = is_grand_kid ? ("background-color: " ~ comment_colors[(level - 1) % 7]) : "display: none;" %}
{% set replies_button_id = "button-" ~ item.id %}
{% set onclick = "toggleKids(" ~ item.id ~ ", [" ~ item.getKidsIds() | join(", ") ~ "], [" ~ item.getKidsIdsRecursive() | join(", ") ~ "])" %}

<div class="{{ class }}" style="{{ style }}" id="{{ item.id }}" are-kids-displayed="false">
    {% if level >= 1 %}
    <div class="color-bar" style="{{ bar_style }}">
        &nbsp;
    </div>
    {% endif %}
    <div>
        <div class="comment-header">
            <i>
                <a href="/users/{{ item.by }}" class="{{ op == item.by ? 'op' : '' }}" title="{{ op == item.by ? 'op' : '' }}">
                    {{ item.by }}
                </a>
            </i>
            <i>{{ item.time|formatTimeAgo }}</i>
        </div>
        <div class="comment-content">
            {{ item.text|formatCommentText|raw }}
        </div>
        <div class="toggle-replies">
            {% if item.kids|default([])|length > 0 and level != -1 %}
            <div onclick="{{ onclick }}" id="{{ replies_button_id }}">
                Show {{ item.kids|default([])|length }} repl{{ item.kids|default([])|length == 1 ? 'y' : 'ies' }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
