<div class="story">
    <div class="index">{{ index }}</div>
    <a title="{{ item.score }}" class="points-comments" rel="prefetch" href="{{ '/items/' ~ item.id }}">
        <div>
            <i class="iconoir-arrow-up white-icon"></i>
            <span>
                {% if item.score is null %}
                    0
                {% else %}
                    {{ item.score }}
                {% endif %}
            </span>
        </div>
        <div>
            <i class="iconoir-message-text white-icon"></i>
            <span>{% if item.descendants is not null %}{{ item.descendants }}{% endif %}</span>
        </div>
    </a>
    <div class="story-content">
        <a class="story-title" href="{{ item.url|default('/items/' ~ item.id) }}"
        rel="{% if (item.url|default('')|formatHostName) != '' %}prefetch{% else %}external{% endif %}" #}
        >
            {{ item.title|raw }}
            {% if (item.url|default('')|formatHostName) != '' %}
                <small class="story-url">{{ item.url|default('')|formatHostName }}</small>
            {% else %}
                <small class="story-url">{{ item.url|default('') }}</small>
            {% endif %}
        </a>
        <div class="story-details">
            by <a href="/users/{{ item.by|default('') }}">{{ item.by|default('') }}</a>
            {{ item.time|formatTimeAgo }}
            <a class="comments-details" rel="prefetch" href="/items/{{ item.id }}">
                {{ item.descendants|default(0) }} comments
            </a>
        </div>
    </div>
</div>
