<nav role="navigation">
    <span>
        <span><a href="{{ path('list', {'listType': 'top'}) }}" class="navbar-item {% if list_type is defined and list_type.value|lower == 'top' %}active{% endif %}">top</a>&nbsp;</span>
        <span><a href="{{ path('list', {'listType': 'best'}) }}" class="navbar-item {% if list_type is defined and list_type.value|lower == 'best' %}active{% endif %}">best</a>&nbsp;</span>
        <span><a href="{{ path('list', {'listType': 'show'}) }}" class="navbar-item {% if list_type is defined and list_type.value|lower == 'show' %}active{% endif %}">show</a>&nbsp;</span>
        <span><a href="{{ path('list', {'listType': 'ask'}) }}" class="navbar-item {% if list_type is defined and list_type.value|lower == 'ask' %}active{% endif %}">ask</a>&nbsp;</span>
        <span><a href="{{ path('list', {'listType': 'job'}) }}" class="navbar-item {% if list_type is defined and list_type.value|lower == 'job' %}active{% endif %}">job</a>&nbsp;</span>
        <span><a href="{{ path('list', {'listType': 'new'}) }}" class="navbar-item {% if list_type is defined and list_type.value|lower == 'new' %}active{% endif %}">new</a>&nbsp;</span>
        <span><a href="/about">about</a>&nbsp;</span>
    </span>
    <span>
    {% if show_time_menu_item %}
        <a href="{{ sorted_by_time ? path('list', {'listType': list_type.value}) : path('list_sorted_by_time', {'listType': list_type.value}) }}">
            <i class="{{ sorted_by_time ? 'iconoir-clock icon-orange' : 'iconoir-clock icon-white' }}" title="Sort by time"></i>
        </a>
    {% endif %}
     <form action="https://hn.algolia.com/" method="get">
         <input type="hidden" name="dateRange" value="all"/>
         <input type="hidden" name="page" value="0"/>
         <input type="hidden" name="prefix" value="false"/>
         <input type="hidden" name="sort" value="byPopularity"/>
         <input type="hidden" name="type" value="story"/>
         <input type="search" name="query" placeholder="Search..."/>
     </form>
    </span>
</nav>
